.container{
    margin-bottom: 100px;
 }
.carousel-item{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.buy-now-button{
    color: gray;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
 }
.all{
    text-decoration: none;
    
}
.lol{
   background: white;
   box-shadow: 5px 5px 10px lightgray;
   margin-bottom: 20px;
   padding: 30px;
   width: 120%;

   /*border-radius: top,right,bottom,left;*/
   border-radius: 40px 0px 40px 0px;
}
.lot{
    background: white;
   box-shadow: 5px 5px 10px lightgray;
   margin-bottom: 20px;
   padding: 30px;
   margin-left: 50px;
   width: 120%;

   /*border-radius: top,right,bottom,left;*/
   border-radius: 40px 0px 40px 0px;
}
::-webkit-scrollbar{
     width: 12px;
}
::-webkit-scrollbar-thumb{
     background: linear-gradient(transparent,#30ff00);
     border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}
.bar{
    text-decoration: underline;
}

